section {
    width: 100%;

    main {
        margin: 0 auto;
        width: min(1200px, 100%);
        height: 100%;
        padding: 1rem 6px;
        display: flex;
        ul {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
            gap:10px;

            li {
                border-radius: .6rem;
                overflow: hidden;
                border: 1px solid #eee;
                img {
                    aspect-ratio: 1;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                    filter: grayscale(80%);
                    transition: .3s linear;

                    width: 100%;
                    &:hover{
                        filter: none;
                        transform: scale(.98);
                    }
                }
            }
        }
        span{
            margin: auto;
            font-size: .7rem;
            font-weight: 100;
            color: #a4a4a4;
        }
    }
    & .spinner{
        margin: auto;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 2px solid #fff;
        border: 2px solid red;
        border-left: 2px solid transparent;
        animation: spinner 1s linear infinite;
    }
    @keyframes spinner {
        to{
            transform: rotate(360deg);
        }
    }
}