.hero{
    width: 100%;
    height: 65vh;
    background: url('../../../assets/hero2.jpg') no-repeat center center / cover;
    position: relative;

    main{
        margin: 0 auto;
        width: min(1200px,100%);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 3;
        padding: 8px;
        div{
            position: relative;
            margin: 15% auto 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            h1{
                color: #fff;
                font-size: 2rem;
            }
            p{
                font-size: .85rem;
                color: #eee;
                font-weight: 100;
                width: min(490px,100%);
                margin-top: 1rem;
            }
        }
        form{
            margin-top: 5%;
            width: min(320px,100%);
            padding: 3px 5px;
            background: #fff;
            border-radius: 1.4rem;
            border: 1px solid #fff;
            display: flex;
            caret-color: rgb(250, 150, 0);
            input{
                width: 100%;
                height: 100%;
                font-size: 1rem;
                padding: 4px 2px;
                border: none;
                background: none;
                outline: none;
                color: #777;
                &::placeholder{
                    font-size: .9rem;
                    color: #ccc;
                }
            }
            &:has(input:focus){
                border: 1px solid rgb(250, 150, 0);
            }
            button{
                border: none;
                background: none;
                background: #e28743;
                color: #fff;
                padding: 8px;
                border-radius: 100%;
            }
        }

    }
    &::before{
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 2;
    }
    a{
        font-size: .5rem;
        color: #eee;
        position: absolute;
        z-index: 2;
        bottom: 10px;
        right: 0;
    }
}